
#logo{
    animation: fill-animation 0.5s ease forwards 3s;
}

#logo path:nth-child(1){
    stroke-dasharray: 320px; 
    stroke-dashoffset: 320px;
    animation: line-animation 3.5s ease forwards;
}

#logo path:nth-child(2){
    stroke-dasharray: 510px; 
    stroke-dashoffset: 510px;
    animation: line-animation 3.5s ease forwards;
}

#logo path:nth-child(3){
    stroke-dasharray: 378px; 
    stroke-dashoffset: 390px;
    animation: line-animation 3.5s ease forwards;
}

#logo path:nth-child(4){
    stroke-dasharray: 485px; 
    stroke-dashoffset: 485px;
    animation: line-animation 3.5s ease forwards;
}

#logo path:nth-child(5){
    stroke-dasharray: 485px; 
    stroke-dashoffset: 485px;
    animation: line-animation 3.5s ease forwards;
}
#logo path:nth-child(6){
    stroke-dasharray: 520px; 
    stroke-dashoffset: 520px;
    animation: line-animation 3.5s ease forwards;
}
#logo path:nth-child(7){
    stroke-dasharray: 520px; 
    stroke-dashoffset: 520px;
    animation: line-animation 3.5s ease forwards;
}
#logo path:nth-child(8){
    stroke-dasharray: 485px; 
    stroke-dashoffset: 485px;
    animation: line-animation 3.5s ease forwards;
}
#logo path:nth-child(9){
    stroke-dasharray: 485px; 
    stroke-dashoffset: 485px;
    animation: line-animation 3.5s ease forwards;
}


@keyframes line-animation {
    to{
        stroke-dashoffset: 0;
    }
}

@keyframes fill-animation{
    from{
        fill: transparent;
    }
    to{
        fill: white;
    }
}

@media (max-width: 1024px) {
    #logo{
        width: 350px;
    }
}
