.column{
    flex: 0 0 25%;
    max-width: 25%;
    padding: 0 1em;
    margin: 2em 0;
}
.card{
    /* box-shadow: 0 0 0.2em rgba(114, 114, 243, 0.216); */
    padding: 3em 1em;
    border-radius: 0.6em;
    color: #ffffff;
    cursor: pointer;
    transition: 0.3s;
    border-width: 1px;
    border-color: rgba(255, 255, 255, 0.1);
    background-color: rgba(255, 255, 255, 0.1);
    background-color: linear-gradient(to bottom right, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.05));
}
.card .img-container{
    width: 8em;
    height: 8em;
    background-color: #2c00da;
    border-radius: 50%;
    margin: 0 auto 2em auto;
}
.card img{
    width: 100%;
    border-radius: 50%;
}
.card h3{
    font-weight: 500;
}
.card p{
    font-weight: 300;
    text-transform: uppercase;
    margin: 0.5em 0 2em 0;
    letter-spacing: 2px;
}
.icons {
    width: 50%;
    min-width: 180px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
.icons .icon{
    transition: 0.3s;
}
.icons .icon:hover{
    transform: scale(1.3);
}
.card a {
    text-decoration: none;
    color: inherit;
    font-size: 1.4em;
}
.card:hover{
    transform: scale(1.01);
    color: #ffffff;
    box-shadow: 0 0 1em rgba(255, 255, 255, 0.1);
}
.card:hover .img-container{
    transform: scale(1.1);
}
@media screen and (min-width: 200px){
    .column{
        flex: 0 0 100%;
        max-width: 100%;
        padding: 0 1.5em;
        margin-bottom: 0;
    }
    .card{
        padding: 3em 1em;
    }
}
@media screen and (min-width: 600px){
    .column{
        flex: 0 0 50%;
        max-width: 50%;
        padding: 0 1em;
    }
    .card{
        padding: 4em 0;
    }
}
@media screen and (min-width: 992px){
    .column{
        flex: 0 0 25%;
        max-width: 25%;
        padding: 0 1em;
    }
    .card{
        padding: 2em 0;
    }
}