
  /* .swiper {
    width: 80%;
    height: 500px;
  }

  .swiper-slide {
    border-radius: 1.1em ;
    text-align: center;
    font-size: 18px;
    background: #fff;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  } */
