
.talk-form{
    /* display: block; */
    width: 70%;
    margin: 0 auto;
    padding: 3rem 1rem;
    border-radius: 2rem;
    
}
.talk-form .input, .textarea{
    display:flex;
    flex-direction: column;
    width: 100%;
    margin: 10px auto;
    padding: 10px;
    border: 1px solid black;
    border-radius: 0.5rem;
}
.button{
    background: linear-gradient(90deg, rgba(43,241,251,1) 25%, rgba(43,241,251,1) 91%); 
    border: none;
    color: #000;
    padding: 15px 13px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    width:"100%";
    border-radius: 0.5rem;
}

.label{
    color: #fff;
}
