@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;800&display=swap');

*{
  font-family: 'Poppins';
}

#root{
  background-color:hsla(237,100%,4%,1);
  background-image:
  radial-gradient(at 73% 83%, hsla(237,67%,11%,1) 0px, transparent 50%),
  radial-gradient(at 5% 26%, hsla(240,51%,21%,1) 0px, transparent 50%),
  radial-gradient(at 100% 0%, hsla(189,100%,56%,0.47) 0px, transparent 50%),
  radial-gradient(at 0% 96%, hsla(240,100%,70%,0.37) 0px, transparent 50%);
}

::-webkit-scrollbar {
  width: 5px; 
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(90deg, rgba(43,241,251,1) 25%, rgba(43,241,251,1) 91%); 
  border-radius: 5px;
}

::-webkit-scrollbar-track{
  background-color: hsla(237,100%,4%,1);
  -webkit-box-shadow: none;
}